@page
@model WebApplication5.Views.Product.OrderFormModel
@{
    var quantity = ViewBag.Quantity;
}

<form asp-action="OrderForm" method="post">
    @for (var i = 0; i < quantity; i++)
    {
        <div>
            <label>Product Name</label>
            <input name="products[@i].Name" />

            <label>Price</label>
            <input name="products[@i].Price" type="number" step="0.01" />

            <label>Quantity</label>
            <input name="products[@i].Quantity" type="number" min="1" />
        </div>
    }
    <input type="submit" value="Submit" />
</form>

