@model WebApplication5.Models.User

<div class="container mt-5">
    <h2 class="text-center mb-4">User Registration</h2>

    <form asp-action="Register" method="post" class="form-group">
        <div class="form-row mb-3">
            <label for="Name" class="col-form-label">Name</label>
            <input asp-for="Name" class="form-control" />
        </div>

        <div class="form-row mb-3">
            <label for="LastName" class="col-form-label">Last Name</label>
            <input asp-for="LastName" class="form-control" />
        </div>

        <div class="form-row mb-3">
            <label for="Age" class="col-form-label">Age</label>
            <input asp-for="Age" type="number" class="form-control" />
        </div>

        <input type="submit" value="Submit" class="btn btn-primary btn-block" />
    </form>
</div>
